In [1]:
import pandas as pd
import numpy as np

In [8]:
jeju = pd.read_csv('제주특별자치도음식점목록(통합).csv', encoding='utf-8-sig', index_col=0)
jeju

,업종구분대분류,업종구분소분류,인허가일자,인허가취소일자,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,데이터갱신일자
사업장명,,,,,,,,,,,,,,,
카페송키,일반음식점,기타,20181129,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,80.14,제주특별자치도 제주시 삼도이동 1120-2번지,"제주특별자치도 제주시 무근성안길 16, 1층 (삼도이동)",63166.0,2018-12-01 2:20
그림책방앤카페노란우산,일반음식점,기타,20181227,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,104.25,제주특별자치도 제주시 애월읍 광령리 2981-1번지 자연숲,"제주특별자치도 제주시 애월읍 하광로 515, 104동 102호 (자연숲)",63062.0,2019-01-27 2:40
에릭스에스프레소,일반음식점,기타,20181102,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,27,제주특별자치도 제주시 구좌읍 세화리 1397-6번지,"제주특별자치도 제주시 구좌읍 구좌로 77, 1층",63361.0,2018-11-04 2:36
일품순두부한림점,일반음식점,한식,20190107,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,152,제주특별자치도 제주시 한림읍 대림리 1845-2번지,"제주특별자치도 제주시 한림읍 한림상로 237, 1층",63030.0,2019-01-17 2:40
팔도실비집아라점,일반음식점,식육(숯불구이),20190107,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,82,제주특별자치도 제주시 아라일동 6139,"제주특별자치도 제주시 중앙로 581, 에이동 1층 (아라일동)",63248.0,2020-09-13 2:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
커피전문점,휴게음식점,푸드트럭,20181214,NaN,폐업,폐업,20201130.0,NaN,NaN,NaN,8.89,제주특별자치도 서귀포시 동홍동 2142-7 도로,NaN,NaN,2020-12-12 2:40
아름다운서귀포,휴게음식점,푸드트럭,20181112,NaN,폐업,폐업,20201031.0,NaN,NaN,NaN,12.21,제주특별자치도 서귀포시 서홍동 696 앞도로,NaN,NaN,2020-11-20 2:40
붕어빵과오뎅,휴게음식점,기타 휴게음식점,20181123,NaN,폐업,폐업,20201202.0,NaN,NaN,NaN,6.48,제주특별자치도 서귀포시 성산읍 고성리 1197-7 생고기부위별판매장,"제주특별자치도 서귀포시 성산읍 고성동서로56번길 15, 생고기부위별판매장",63640.0,2020-12-04 2:40
인정김밥,휴게음식점,일반조리판매,20210121,NaN,폐업,폐업,20210524.0,NaN,NaN,NaN,35,제주특별자치도 서귀포시 안덕면 서광리 1412,"제주특별자치도 서귀포시 안덕면 녹차분재로 56, 다동",63521.0,2021-05-26 2:40
삼춘네칼국수,휴게음식점,일반조리판매,20210107,NaN,폐업,폐업,20210413.0,NaN,NaN,NaN,93.6,제주특별자치도 서귀포시 안덕면 서광리 279 1층,"제주특별자치도 서귀포시 안덕면 중산간서로 1815, 1층",63522.0,2021-04-15 2:40

In [9]:
jeju = jeju[jeju.영업상태명 != '폐업']
jeju

,업종구분대분류,업종구분소분류,인허가일자,인허가취소일자,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지면적,소재지전체주소,도로명전체주소,도로명우편번호,데이터갱신일자
사업장명,,,,,,,,,,,,,,,
카페송키,일반음식점,기타,20181129,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,80.14,제주특별자치도 제주시 삼도이동 1120-2번지,"제주특별자치도 제주시 무근성안길 16, 1층 (삼도이동)",63166.0,2018-12-01 2:20
그림책방앤카페노란우산,일반음식점,기타,20181227,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,104.25,제주특별자치도 제주시 애월읍 광령리 2981-1번지 자연숲,"제주특별자치도 제주시 애월읍 하광로 515, 104동 102호 (자연숲)",63062.0,2019-01-27 2:40
에릭스에스프레소,일반음식점,기타,20181102,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,27,제주특별자치도 제주시 구좌읍 세화리 1397-6번지,"제주특별자치도 제주시 구좌읍 구좌로 77, 1층",63361.0,2018-11-04 2:36
일품순두부한림점,일반음식점,한식,20190107,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,152,제주특별자치도 제주시 한림읍 대림리 1845-2번지,"제주특별자치도 제주시 한림읍 한림상로 237, 1층",63030.0,2019-01-17 2:40
팔도실비집아라점,일반음식점,식육(숯불구이),20190107,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,82,제주특별자치도 제주시 아라일동 6139,"제주특별자치도 제주시 중앙로 581, 에이동 1층 (아라일동)",63248.0,2020-09-13 2:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
쏭카롱,휴게음식점,기타 휴게음식점,20210126,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,29.3,제주특별자치도 서귀포시 대정읍 신평리 105-12,제주특별자치도 서귀포시 대정읍 추사로 278-4,63516.0,2021-01-28 0:23
주식회사 애니멀고,휴게음식점,커피숍,20210126,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,78.96,제주특별자치도 서귀포시 안덕면 서광리 산 35-16,"제주특별자치도 서귀포시 안덕면 신화역사로304번길 98, 제주신화월드 에프001 지...",63521.0,2021-03-06 2:40
한옥마루카페,휴게음식점,커피숍,20201208,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,16.5,제주특별자치도 서귀포시 성산읍 성산리 306 1층 부속동,"제주특별자치도 서귀포시 성산읍 한도로 269-23, 부속동 1층",63643.0,2020-12-10 0:23
쎄븐일레븐서귀포법환점,휴게음식점,편의점,20210203,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,6.6,제주특별자치도 서귀포시 법환동 355,"제주특별자치도 서귀포시 이어도로 938, 2층 (법환동)",63573.0,2021-02-05 0:23
신신카페,휴게음식점,커피숍,20210203,NaN,영업/정상,영업,NaN,NaN,NaN,NaN,174,제주특별자치도 서귀포시 서귀동 494,"제주특별자치도 서귀포시 중앙로 14, 1층 104호 (서귀동)",63595.0,2021-02-05 0:23

# 전처리 내용


1. 데이터프레임 컬럼 순서 변경
 - 상호명 / 도로명주소 / 지역분류 / 평점 / 작성자ID


2. 업종소분류 컬럼 추가
 - 제주특별자치도음식점목록(통합).csv와 inner join하여 각 식당에 맞는 업종으로 추가
 - 게스트하우스 삭제
     - 느영나영 ✔
     - 돈내코힐리조트 ✔
     - 김군빌리지 ✔
     - 사계리2033 ✔
     - 유탑유블레스호텔제주 (nam_2 파일에 있음!)
     - 월정리펜션w728 (nam_2 파일에 있음)
     - Hotel낙천주의자들 (nam_2 파일에 있음)


  - 기타 삭제
     - (주)김녕요트투어 ✔
     - 더삼화스크린골프
     



3. 시/읍/면 키워드 컬럼 추가
 - 스파크에서 하는 게 나을지?

In [10]:
rest = pd.read_csv('./네이버맵음식점리뷰_평점_정문.csv', encoding='utf-8-sig', index_col=0)
rest

                          UserID ItemID  Rating
0       5cbfb3ae1ce435a08e238d04  오맛짱치킨     4.0
1       5dba96018f87a842bcd21fab  오맛짱치킨     5.0
2       5c14e5380bc8f34dca9bc58b  오맛짱치킨     5.0
3       5e2d2d748f87a842bc415d84  오맛짱치킨     5.0
4       5e2b34cb8f87a842bc30244f  오맛짱치킨     5.0
...                          ...    ...     ...
215147  5e1e5b028f87a842bcc19933   은설식당     5.0
215148  5dcf700b8f87a842bc6124c4   은설식당     5.0
215149  6004df24238dd5259fe9e980   은설식당     5.0
215150  5c5afa0deec7b640ef30e629   은설식당     4.0
215151  5cb7f2b079edbb99194f6316   은설식당     4.0

[215152 rows x 3 columns]

In [11]:
rest.columns = ['작성자ID', '상호명', '평점']
rest = rest[['상호명', '평점', '작성자ID']]
rest

          상호명   평점                     작성자ID
0       오맛짱치킨  4.0  5cbfb3ae1ce435a08e238d04
1       오맛짱치킨  5.0  5dba96018f87a842bcd21fab
2       오맛짱치킨  5.0  5c14e5380bc8f34dca9bc58b
3       오맛짱치킨  5.0  5e2d2d748f87a842bc415d84
4       오맛짱치킨  5.0  5e2b34cb8f87a842bc30244f
...       ...  ...                       ...
215147   은설식당  5.0  5e1e5b028f87a842bcc19933
215148   은설식당  5.0  5dcf700b8f87a842bc6124c4
215149   은설식당  5.0  6004df24238dd5259fe9e980
215150   은설식당  4.0  5c5afa0deec7b640ef30e629
215151   은설식당  4.0  5cb7f2b079edbb99194f6316

[215152 rows x 3 columns]

In [14]:
# 느영나영게스트하우스 삭제
rest = rest[rest.상호명 != '느영나영']

          상호명   평점                     작성자ID
0       오맛짱치킨  4.0  5cbfb3ae1ce435a08e238d04
1       오맛짱치킨  5.0  5dba96018f87a842bcd21fab
2       오맛짱치킨  5.0  5c14e5380bc8f34dca9bc58b
3       오맛짱치킨  5.0  5e2d2d748f87a842bc415d84
4       오맛짱치킨  5.0  5e2b34cb8f87a842bc30244f
...       ...  ...                       ...
215147   은설식당  5.0  5e1e5b028f87a842bcc19933
215148   은설식당  5.0  5dcf700b8f87a842bc6124c4
215149   은설식당  5.0  6004df24238dd5259fe9e980
215150   은설식당  4.0  5c5afa0deec7b640ef30e629
215151   은설식당  4.0  5cb7f2b079edbb99194f6316

[209262 rows x 3 columns]

In [17]:
# 돈내코힐리조트, 감군빌리지, 사계리2033 삭제

rest = rest[rest.상호명 != '돈내코힐리조트']
rest = rest[rest.상호명 != '감군빌리지']
rest = rest[rest.상호명 != '사계리2033']
rest

          상호명   평점                     작성자ID
0       오맛짱치킨  4.0  5cbfb3ae1ce435a08e238d04
1       오맛짱치킨  5.0  5dba96018f87a842bcd21fab
2       오맛짱치킨  5.0  5c14e5380bc8f34dca9bc58b
3       오맛짱치킨  5.0  5e2d2d748f87a842bc415d84
4       오맛짱치킨  5.0  5e2b34cb8f87a842bc30244f
...       ...  ...                       ...
209257   은설식당  5.0  5e1e5b028f87a842bcc19933
209258   은설식당  5.0  5dcf700b8f87a842bc6124c4
209259   은설식당  5.0  6004df24238dd5259fe9e980
209260   은설식당  4.0  5c5afa0deec7b640ef30e629
209261   은설식당  4.0  5cb7f2b079edbb99194f6316

[201730 rows x 3 columns]

In [20]:
# (주)김녕요트투어 삭제
rest = rest[rest.상호명 != '(주)김녕요트투어']
rest

          상호명   평점                     작성자ID
0       오맛짱치킨  4.0  5cbfb3ae1ce435a08e238d04
1       오맛짱치킨  5.0  5dba96018f87a842bcd21fab
2       오맛짱치킨  5.0  5c14e5380bc8f34dca9bc58b
3       오맛짱치킨  5.0  5e2d2d748f87a842bc415d84
4       오맛짱치킨  5.0  5e2b34cb8f87a842bc30244f
...       ...  ...                       ...
201725   은설식당  5.0  5e1e5b028f87a842bcc19933
201726   은설식당  5.0  5dcf700b8f87a842bc6124c4
201727   은설식당  5.0  6004df24238dd5259fe9e980
201728   은설식당  4.0  5c5afa0deec7b640ef30e629
201729   은설식당  4.0  5cb7f2b079edbb99194f6316

[201720 rows x 3 columns]

In [21]:
rest.reset_index(inplace=True)
del rest['index']

In [22]:
rest

          상호명   평점                     작성자ID
0       오맛짱치킨  4.0  5cbfb3ae1ce435a08e238d04
1       오맛짱치킨  5.0  5dba96018f87a842bcd21fab
2       오맛짱치킨  5.0  5c14e5380bc8f34dca9bc58b
3       오맛짱치킨  5.0  5e2d2d748f87a842bc415d84
4       오맛짱치킨  5.0  5e2b34cb8f87a842bc30244f
...       ...  ...                       ...
201715   은설식당  5.0  5e1e5b028f87a842bcc19933
201716   은설식당  5.0  5dcf700b8f87a842bc6124c4
201717   은설식당  5.0  6004df24238dd5259fe9e980
201718   은설식당  4.0  5c5afa0deec7b640ef30e629
201719   은설식당  4.0  5cb7f2b079edbb99194f6316

[201720 rows x 3 columns]

In [31]:
# 남경님 크롤링한 csv 데이터 불러오기

one = pd.read_csv('../data/nam_rating9.csv', encoding='utf-8-sig', index_col=0)
two = pd.read_csv('../driver & crawling/느시/rating9.csv', encoding='utf-8-sig', index_col=0)
thr = pd.read_csv('../driver & crawling/느시/rating9_2nd.csv', encoding='utf-8-sig', index_col=0)

In [32]:
del one['Timestamp']
del two['Timestamp']
del thr['Timestamp']

In [33]:
df = pd.concat([one, two, thr])
df

                         UserID    ItemID  Rating
0      60e568059f1eace64860294b  동복리해녀잠수촌     4.5
1      5bf276974dbe68446e4337b2  동복리해녀잠수촌     4.0
2      5d269e0ed9a7f78490cbfafb  동복리해녀잠수촌     5.0
3      603ef197844400635a88a6e1  동복리해녀잠수촌     3.0
4      5e0fc4c98f87a842bc9deec0  동복리해녀잠수촌     5.0
...                         ...       ...     ...
23717  5d7c84798f87a842bc300c87       정다헌     4.0
23718  5e68c5008f87a842bc2f904a       정다헌     4.0
23719  5e68c5008f87a842bc2f904a       정다헌     4.0
23720  5fa5e6a856d68ef939404ad8        경태     4.5
23721  5ebdcdcf8f87a842bc73b1b4        경태     4.0

[58310 rows x 3 columns]

In [34]:
# 리조트 및 기타 데이터 삭제
df = df[df.ItemID != '유탑유블레스호텔제주']
df = df[df.ItemID != '월정리펜션w728']
df = df[df.ItemID != 'Hotel낙천주의자들']
df = df[df.ItemID != '더삼화스크린골프']
df

                         UserID    ItemID  Rating
0      60e568059f1eace64860294b  동복리해녀잠수촌     4.5
1      5bf276974dbe68446e4337b2  동복리해녀잠수촌     4.0
2      5d269e0ed9a7f78490cbfafb  동복리해녀잠수촌     5.0
3      603ef197844400635a88a6e1  동복리해녀잠수촌     3.0
4      5e0fc4c98f87a842bc9deec0  동복리해녀잠수촌     5.0
...                         ...       ...     ...
23717  5d7c84798f87a842bc300c87       정다헌     4.0
23718  5e68c5008f87a842bc2f904a       정다헌     4.0
23719  5e68c5008f87a842bc2f904a       정다헌     4.0
23720  5fa5e6a856d68ef939404ad8        경태     4.5
23721  5ebdcdcf8f87a842bc73b1b4        경태     4.0

[57900 rows x 3 columns]

In [35]:
df.reset_index(inplace=True)

In [37]:
df

       index                    UserID    ItemID  Rating
0          0  60e568059f1eace64860294b  동복리해녀잠수촌     4.5
1          1  5bf276974dbe68446e4337b2  동복리해녀잠수촌     4.0
2          2  5d269e0ed9a7f78490cbfafb  동복리해녀잠수촌     5.0
3          3  603ef197844400635a88a6e1  동복리해녀잠수촌     3.0
4          4  5e0fc4c98f87a842bc9deec0  동복리해녀잠수촌     5.0
...      ...                       ...       ...     ...
57895  23717  5d7c84798f87a842bc300c87       정다헌     4.0
57896  23718  5e68c5008f87a842bc2f904a       정다헌     4.0
57897  23719  5e68c5008f87a842bc2f904a       정다헌     4.0
57898  23720  5fa5e6a856d68ef939404ad8        경태     4.5
57899  23721  5ebdcdcf8f87a842bc73b1b4        경태     4.0

[57900 rows x 4 columns]

In [38]:
del df['index']

In [39]:
df.columns = ['작성자ID', '상호명', '평점']
df = df[['상호명', '평점', '작성자ID']]
df

            상호명   평점                     작성자ID
0      동복리해녀잠수촌  4.5  60e568059f1eace64860294b
1      동복리해녀잠수촌  4.0  5bf276974dbe68446e4337b2
2      동복리해녀잠수촌  5.0  5d269e0ed9a7f78490cbfafb
3      동복리해녀잠수촌  3.0  603ef197844400635a88a6e1
4      동복리해녀잠수촌  5.0  5e0fc4c98f87a842bc9deec0
...         ...  ...                       ...
57895       정다헌  4.0  5d7c84798f87a842bc300c87
57896       정다헌  4.0  5e68c5008f87a842bc2f904a
57897       정다헌  4.0  5e68c5008f87a842bc2f904a
57898        경태  4.5  5fa5e6a856d68ef939404ad8
57899        경태  4.0  5ebdcdcf8f87a842bc73b1b4

[57900 rows x 3 columns]

In [40]:
# 정문 + 종민 + 남경 평점 데이터 합치기
df = pd.concat([df, rest])
df

             상호명   평점                     작성자ID
0       동복리해녀잠수촌  4.5  60e568059f1eace64860294b
1       동복리해녀잠수촌  4.0  5bf276974dbe68446e4337b2
2       동복리해녀잠수촌  5.0  5d269e0ed9a7f78490cbfafb
3       동복리해녀잠수촌  3.0  603ef197844400635a88a6e1
4       동복리해녀잠수촌  5.0  5e0fc4c98f87a842bc9deec0
...          ...  ...                       ...
201715      은설식당  5.0  5e1e5b028f87a842bcc19933
201716      은설식당  5.0  5dcf700b8f87a842bc6124c4
201717      은설식당  5.0  6004df24238dd5259fe9e980
201718      은설식당  4.0  5c5afa0deec7b640ef30e629
201719      은설식당  4.0  5cb7f2b079edbb99194f6316

[259620 rows x 3 columns]

In [41]:
df.reset_index(inplace=True)

In [43]:
del df['index']

In [44]:
df.to_csv("네이버맵음식점리뷰_평점_정문_종민_남경.csv", mode='w')