In [37]:
import json
import pandas as pd
import numpy as np
import os
from pandas.io.json import json_normalize

# 전처리 순서
1. rating9.csv 관련 파일 불러오기
 - 노트북 / 데스크탑
2. concat
 - 노트북 / 데스크탑
3. 식당별로 주소 컬럼 합치기 (제주일반음식점.csv 파일에서 주소 추출)
4. 최종 df에 주소별로 시/읍/면 키워드 컬럼 추가

In [38]:
df1 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1 crow\\1회차\\rating9.csv', encoding='utf-8', index_col=0)
df1

                        UserID    ItemID  Rating   Timestamp
0     5cbb032177919be02c5c6020  오조파스타앤피자     5.0  2021.10.09
1     5f05b980699d39675d9e41c6  오조파스타앤피자     4.5  2021.09.30
2     5c0fc6cce73c45340680bf88  오조파스타앤피자     5.0  2021.09.23
3     5f068060ace692ef62457a68  오조파스타앤피자     4.5  2021.09.10
4     5e91be4f8f87a842bcc10228  오조파스타앤피자     5.0  2021.09.02
...                        ...       ...     ...         ...
5290  5c73609ea80de7440b0689da    산방산초가집     5.0  2019.11.10
5291  5b9b7ba0770f29b2b6a778b7    산방산초가집     5.0  2019.10.17
5292  5b9c9c87fcc4fe3a83aabbcf    산방산초가집     3.0  2019.09.15
5293  5c6e6abe4bb61f68d9a4c38f    산방산초가집     1.0  2019.06.05
5294  5c6e6acd4bb61f68d9a4ce33    산방산초가집     5.0  2019.04.05

[5295 rows x 4 columns]

In [39]:
# 평점 준 날짜 컬럼 삭제
del df1['Timestamp']

In [40]:
df1

                        UserID    ItemID  Rating
0     5cbb032177919be02c5c6020  오조파스타앤피자     5.0
1     5f05b980699d39675d9e41c6  오조파스타앤피자     4.5
2     5c0fc6cce73c45340680bf88  오조파스타앤피자     5.0
3     5f068060ace692ef62457a68  오조파스타앤피자     4.5
4     5e91be4f8f87a842bcc10228  오조파스타앤피자     5.0
...                        ...       ...     ...
5290  5c73609ea80de7440b0689da    산방산초가집     5.0
5291  5b9b7ba0770f29b2b6a778b7    산방산초가집     5.0
5292  5b9c9c87fcc4fe3a83aabbcf    산방산초가집     3.0
5293  5c6e6abe4bb61f68d9a4c38f    산방산초가집     1.0
5294  5c6e6acd4bb61f68d9a4ce33    산방산초가집     5.0

[5295 rows x 3 columns]

In [41]:
df2 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1 crow\\2회차\\rating9.csv', encoding='utf-8', index_col=0)
df2

                         UserID  ItemID  Rating   Timestamp
0      5dc54de68f87a842bc6bff85  총각네회센터     4.0  2021.04.16
1      5e2bbda38f87a842bccb27c8  총각네회센터     5.0  2020.10.09
2      5cf8c29c10e11a977593d00e  총각네회센터     4.0  2020.09.25
3      5ea61cf18f87a842bce06206  총각네회센터     4.0  2020.06.18
4      5ea62d278f87a842bc6f0d2b  총각네회센터     5.0  2020.05.21
...                         ...     ...     ...         ...
47574  5ed32b398f87a842bc7a3ee8   모닝해장국     3.5  2021.05.09
47575  5c68038e01274f1e0027fdb6   모닝해장국     5.0  2021.05.05
47576  5eb50b468f87a842bca780c7   모닝해장국     5.0  2021.05.01
47577  5c41a7e3fa77e043d3ccd6ad   모닝해장국     4.0  2021.03.31
47578  5f4ff1ed6c3d7f733494fe4a   모닝해장국     4.0  2021.02.13

[47579 rows x 4 columns]

In [42]:
# 평점 준 날짜 컬럼 삭제
del df2['Timestamp']

In [43]:
df2

                         UserID  ItemID  Rating
0      5dc54de68f87a842bc6bff85  총각네회센터     4.0
1      5e2bbda38f87a842bccb27c8  총각네회센터     5.0
2      5cf8c29c10e11a977593d00e  총각네회센터     4.0
3      5ea61cf18f87a842bce06206  총각네회센터     4.0
4      5ea62d278f87a842bc6f0d2b  총각네회센터     5.0
...                         ...     ...     ...
47574  5ed32b398f87a842bc7a3ee8   모닝해장국     3.5
47575  5c68038e01274f1e0027fdb6   모닝해장국     5.0
47576  5eb50b468f87a842bca780c7   모닝해장국     5.0
47577  5c41a7e3fa77e043d3ccd6ad   모닝해장국     4.0
47578  5f4ff1ed6c3d7f733494fe4a   모닝해장국     4.0

[47579 rows x 3 columns]

In [44]:
df3 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1 crow\\3회차\\rating9.csv', encoding='utf-8', index_col=0)
df3

                         UserID       ItemID  Rating   Timestamp
0      5efe348a670bd5c7e1207c28  순천미향제주산방산본점     5.0  2021.10.13
1      5cb31b1b5494db1e27694d03  순천미향제주산방산본점     5.0  2021.10.12
2      5e8f100a8f87a842bcf2cb9c  순천미향제주산방산본점     5.0  2021.10.11
3      5dc612f38f87a842bc72aa3e  순천미향제주산방산본점     5.0  2021.10.11
4      5eff1cd97a3924f9464c5790  순천미향제주산방산본점     5.0  2021.10.10
...                         ...          ...     ...         ...
16666  5e7197798f87a842bc4567fc        산계원식당     5.0  2021.05.06
16667  5bf3d1c933d74684eab4259f        산계원식당     4.0  2021.04.25
16668  5c3daedb3be5832e5a4dff53        산계원식당     4.5  2021.04.24
16669  5da93e088f87a842bcde8bec        산계원식당     5.0  2021.02.25
16670  5eb0d4ae8f87a842bcb93bde        산계원식당     5.0  2021.02.15

[16671 rows x 4 columns]

In [45]:
# 평점 준 날짜 컬럼 삭제
del df3['Timestamp']

In [46]:
df3

                         UserID       ItemID  Rating
0      5efe348a670bd5c7e1207c28  순천미향제주산방산본점     5.0
1      5cb31b1b5494db1e27694d03  순천미향제주산방산본점     5.0
2      5e8f100a8f87a842bcf2cb9c  순천미향제주산방산본점     5.0
3      5dc612f38f87a842bc72aa3e  순천미향제주산방산본점     5.0
4      5eff1cd97a3924f9464c5790  순천미향제주산방산본점     5.0
...                         ...          ...     ...
16666  5e7197798f87a842bc4567fc        산계원식당     5.0
16667  5bf3d1c933d74684eab4259f        산계원식당     4.0
16668  5c3daedb3be5832e5a4dff53        산계원식당     4.5
16669  5da93e088f87a842bcde8bec        산계원식당     5.0
16670  5eb0d4ae8f87a842bcb93bde        산계원식당     5.0

[16671 rows x 3 columns]

In [47]:
df4 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1 crow\\4회차\\rating9.csv', encoding='utf-8', index_col=0)
df4

                         UserID ItemID  Rating   Timestamp
0      5dd7b7e69ec8258e4a7efe34  어머니횟집     1.5  2021.09.06
1      5d0cbd3854d47b365e2847fd  어머니횟집     5.0  2021.04.15
2      5b665b7deba37d3f38ff4faf  어머니횟집     5.0  2020.11.21
3      5f964dc100be9dd4d64927ed  어머니횟집     5.0  2020.10.26
4      5d15be50470a8f62a39a01bb  어머니횟집     5.0  2020.10.17
...                         ...    ...     ...         ...
23280  5b9c79d5d804463aa11ada46     창꼬     5.0  2020.09.17
23281  5e9a69dc8f87a842bce85fcc     창꼬     5.0  2020.09.15
23282  5ca8250166274d10064199ba     창꼬     5.0  2020.08.23
23283  5ecb42688f87a842bc788f11     창꼬     5.0  2020.06.30
23284  5e8bf99e8f87a842bc6aab70     창꼬     5.0  2020.04.11

[23285 rows x 4 columns]

In [48]:
# 평점 준 날짜 컬럼 삭제
del df4['Timestamp']

In [49]:
df4

                         UserID ItemID  Rating
0      5dd7b7e69ec8258e4a7efe34  어머니횟집     1.5
1      5d0cbd3854d47b365e2847fd  어머니횟집     5.0
2      5b665b7deba37d3f38ff4faf  어머니횟집     5.0
3      5f964dc100be9dd4d64927ed  어머니횟집     5.0
4      5d15be50470a8f62a39a01bb  어머니횟집     5.0
...                         ...    ...     ...
23280  5b9c79d5d804463aa11ada46     창꼬     5.0
23281  5e9a69dc8f87a842bce85fcc     창꼬     5.0
23282  5ca8250166274d10064199ba     창꼬     5.0
23283  5ecb42688f87a842bc788f11     창꼬     5.0
23284  5e8bf99e8f87a842bc6aab70     창꼬     5.0

[23285 rows x 3 columns]

In [50]:
df5 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1_1 crow\\1회차\\rating9.csv', encoding='utf-8', index_col=0)
df5

                         UserID   ItemID  Rating   Timestamp
0      5cc6e32a328ab3726e6ccf99     카페송키     5.0  2021.10.08
1      5efe294967c6d4320f574088     카페송키     5.0  2021.09.21
2      5c820edb479bdeab699408fe     카페송키     4.0  2021.09.18
3      5bec21244df9b74b39095e61     카페송키     4.5  2021.08.19
4      5c2e5d36964b7df0b5dace89     카페송키     5.0  2021.07.12
...                         ...      ...     ...         ...
33819  5ebabc4e8f87a842bc44bc88     노형호수     5.0  2020.06.16
33820  5dece9d28f87a842bc7224d7     노형호수     5.0  2020.03.12
33821  5e36a8178f87a842bc5821cf  하귀로30번가     4.0  2020.11.17
33822  5e84a84e8f87a842bc3e9bb3       벅스     5.0  2020.12.04
33823  5ea7fed88f87a842bc140669       벅스     4.0  2020.11.02

[33824 rows x 4 columns]

In [51]:
# 평점 준 날짜 컬럼 삭제
del df5['Timestamp']

In [52]:
df5

                         UserID   ItemID  Rating
0      5cc6e32a328ab3726e6ccf99     카페송키     5.0
1      5efe294967c6d4320f574088     카페송키     5.0
2      5c820edb479bdeab699408fe     카페송키     4.0
3      5bec21244df9b74b39095e61     카페송키     4.5
4      5c2e5d36964b7df0b5dace89     카페송키     5.0
...                         ...      ...     ...
33819  5ebabc4e8f87a842bc44bc88     노형호수     5.0
33820  5dece9d28f87a842bc7224d7     노형호수     5.0
33821  5e36a8178f87a842bc5821cf  하귀로30번가     4.0
33822  5e84a84e8f87a842bc3e9bb3       벅스     5.0
33823  5ea7fed88f87a842bc140669       벅스     4.0

[33824 rows x 3 columns]

In [53]:
df6 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1_1 crow\\2회차\\rating9.csv', encoding='utf-8', index_col=0)
df6

                        UserID ItemID  Rating   Timestamp
0     5b9a8f278b86b48144c1cc98  파라디스코     4.0  2021.09.30
1     5d17468da4e60c8c265f618e  파라디스코     5.0  2021.08.15
2     60abb0bd6652323fe795a2ca  파라디스코     4.5  2021.05.24
3     5e2bf30b8f87a842bc5add58  파라디스코     5.0  2021.04.23
4     5b9e5725e7e3423dac3768e6  파라디스코     5.0  2020.11.12
...                        ...    ...     ...         ...
6232  5b8668a4580feb3c822ba050    아서원     5.0  2020.07.17
6233  5e0864c98f87a842bc9b476b    아서원     5.0  2020.07.01
6234  5d60f4798f87a842bc877ff7    아서원     4.0  2020.06.16
6235  5c21469045fe006f7f363cc1    아서원     5.0  2020.04.27
6236  5c237671b04e8e2ee738967d    아서원     5.0  2020.03.26

[6237 rows x 4 columns]

In [54]:
# 평점 준 날짜 컬럼 삭제
del df6['Timestamp']

In [55]:
df6

                        UserID ItemID  Rating
0     5b9a8f278b86b48144c1cc98  파라디스코     4.0
1     5d17468da4e60c8c265f618e  파라디스코     5.0
2     60abb0bd6652323fe795a2ca  파라디스코     4.5
3     5e2bf30b8f87a842bc5add58  파라디스코     5.0
4     5b9e5725e7e3423dac3768e6  파라디스코     5.0
...                        ...    ...     ...
6232  5b8668a4580feb3c822ba050    아서원     5.0
6233  5e0864c98f87a842bc9b476b    아서원     5.0
6234  5d60f4798f87a842bc877ff7    아서원     4.0
6235  5c21469045fe006f7f363cc1    아서원     5.0
6236  5c237671b04e8e2ee738967d    아서원     5.0

[6237 rows x 3 columns]

In [56]:
df7 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1_1 crow\\3회차\\rating9.csv', encoding='utf-8', index_col=0)
df7

                         UserID ItemID  Rating   Timestamp
0      5bf4ffeb3b1a7c7f74b44dbe    아서원     4.0  2021.09.27
1      5c263e2244c0c17a57a295b8    아서원     1.0  2021.09.25
2      5f3366e19ec8258e4a5a0ca5    아서원     5.0  2021.09.20
3      5efc4e938f87a842bc158090    아서원     3.5  2021.09.14
4      5c1faeaa4bc284690b1a0c21    아서원     4.0  2021.09.11
...                         ...    ...     ...         ...
39389  5e8c22c98f87a842bccd5ef0  트라이던트     5.0  2020.08.19
39390  5c2235486cc121608b85f17d  트라이던트     0.5  2020.06.02
39391  5c583074ba541ca6806b595f  트라이던트     5.0  2019.12.30
39392  5baf4a420c9a786b1e4aee56  트라이던트     3.0  2019.12.24
39393  5c6e6ace4bb61f68d9a4ce7c  트라이던트     5.0  2019.08.30

[39394 rows x 4 columns]

In [57]:
# 평점 준 날짜 컬럼 삭제
del df7['Timestamp']

In [58]:
df7

                         UserID ItemID  Rating
0      5bf4ffeb3b1a7c7f74b44dbe    아서원     4.0
1      5c263e2244c0c17a57a295b8    아서원     1.0
2      5f3366e19ec8258e4a5a0ca5    아서원     5.0
3      5efc4e938f87a842bc158090    아서원     3.5
4      5c1faeaa4bc284690b1a0c21    아서원     4.0
...                         ...    ...     ...
39389  5e8c22c98f87a842bccd5ef0  트라이던트     5.0
39390  5c2235486cc121608b85f17d  트라이던트     0.5
39391  5c583074ba541ca6806b595f  트라이던트     5.0
39392  5baf4a420c9a786b1e4aee56  트라이던트     3.0
39393  5c6e6ace4bb61f68d9a4ce7c  트라이던트     5.0

[39394 rows x 3 columns]

In [59]:
df8 = pd.read_csv('C:\\Users\\ui\\Documents\\GitHub\\project3\\0_1_1 crow\\4회차\\rating9.csv', encoding='utf-8', index_col=0)
df8

                         UserID   ItemID  Rating   Timestamp
0      5ec4d9cb8f87a842bcb10a33  땅땅치킨용담점     4.0  2020.06.04
1      5b79949458a66e631f4b5b4a     해동이네     5.0  2021.10.16
2      5d8dc8d48f87a842bc46203c     해동이네     5.0  2021.09.23
3      5e37daf08f87a842bcf36e2c     해동이네     5.0  2021.09.19
4      5f0298edc617eec4ef732528     해동이네     5.0  2021.09.17
...                         ...      ...     ...         ...
33240  5b780f8dc1f02b5b65991cfa   수구레해장국     5.0  2019.09.22
33241  5b780f8dc1f02b5b65991cfa   수구레해장국     4.0  2019.05.07
33242  5f3ce0f278e8a28c2ca0f4d8  페리카나연동점     0.5  2021.08.17
33243  5ee46b9c8f87a842bcb83ca4  페리카나연동점     5.0  2020.12.22
33244  5c18eb350a8e0f69d74a52aa  페리카나연동점     5.0  2020.05.20

[33245 rows x 4 columns]

In [60]:
# 평점 준 날짜 컬럼 삭제
del df8['Timestamp']

In [61]:
df8

                         UserID   ItemID  Rating
0      5ec4d9cb8f87a842bcb10a33  땅땅치킨용담점     4.0
1      5b79949458a66e631f4b5b4a     해동이네     5.0
2      5d8dc8d48f87a842bc46203c     해동이네     5.0
3      5e37daf08f87a842bcf36e2c     해동이네     5.0
4      5f0298edc617eec4ef732528     해동이네     5.0
...                         ...      ...     ...
33240  5b780f8dc1f02b5b65991cfa   수구레해장국     5.0
33241  5b780f8dc1f02b5b65991cfa   수구레해장국     4.0
33242  5f3ce0f278e8a28c2ca0f4d8  페리카나연동점     0.5
33243  5ee46b9c8f87a842bcb83ca4  페리카나연동점     5.0
33244  5c18eb350a8e0f69d74a52aa  페리카나연동점     5.0

[33245 rows x 3 columns]

In [64]:
df_final = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
df_final

                         UserID    ItemID  Rating
0      5cbb032177919be02c5c6020  오조파스타앤피자     5.0
1      5f05b980699d39675d9e41c6  오조파스타앤피자     4.5
2      5c0fc6cce73c45340680bf88  오조파스타앤피자     5.0
3      5f068060ace692ef62457a68  오조파스타앤피자     4.5
4      5e91be4f8f87a842bcc10228  오조파스타앤피자     5.0
...                         ...       ...     ...
33240  5b780f8dc1f02b5b65991cfa    수구레해장국     5.0
33241  5b780f8dc1f02b5b65991cfa    수구레해장국     4.0
33242  5f3ce0f278e8a28c2ca0f4d8   페리카나연동점     0.5
33243  5ee46b9c8f87a842bcb83ca4   페리카나연동점     5.0
33244  5c18eb350a8e0f69d74a52aa   페리카나연동점     5.0

[205530 rows x 3 columns]

In [66]:

df_final .to_csv("네이버맵음식점리뷰_평점_준영_용호.csv", mode='w')